# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# Python / Jupyter
__pycache__/
*.py[cod]
.venv/
venv/
env/
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# ignore PyKaos as it is a submodule and should be handled separately
external/PyKaos/

# ignore Jupyter notebook
notebooks/playground.ipynb

# ignore data files
data/